


.wd-Tuiter-search-bar {
    color: white;
    background-color: gray;
    border-radius: 25px;
    width: 90%;

}

.wd-Tuiter-search-bar::placeholder {
    opacity: .5;
    color: white;

}

.wd-gear {

    float: right;
    padding-right: 12px;
    color: rgb(29, 161, 242);

}

.wd-hyperlink {
    color: rgb(110, 118, 125);
    padding: 16px;
    size: 15px;

}

.wd-highlight-link{
    color: rgb(29,161,242);
    padding: 16px;
    size: 15px;

}



.wd-suggested-posts-heading{

    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    padding: 15px;



}

.wd-suggested-posts-image{

    width: 100px;
    height: 100px;
    float: right;
    padding-right: 16px;
    background-color: cornsilk;
    border-radius: 25px;


}

.wd-post-author{

    color: white;
    font-size: 15px;
    padding: 15px;



}

.wd-grid-col-main-content {
    width: 80%;
    float: left;
    background-color: black;
}

.wd-grid-col-right-sidebar {
    width: 20%;
    float: left;
    background-color: black;
}

.wd-placeholder{

    color: black;
}