.wd-title{

    padding-left: 16px;
    padding-top: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.wd-header-group{

    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;



}




.wd-avatar-image{



    padding-left: 16px;
    padding-top: 12px;
    border-radius: 50%;
    width: 48px;

}

.wd-avatar-name{

    color: white;
    font-size: 15px;
    padding-left: 12px;
    padding-top: 12px;
    font-weight: bold;


}

.wd-post-content{

    color: white;
    font-size: 15px;
    width: 506px;
    padding-right: 16px;
    padding-bottom: 12px;



}

.wd-content-image{


    width: 504px;
    height: 264px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding-right: 12px;

}

.wd-image-text{
    font-size: 15px;
    color: rgb(110, 118, 125);
    padding: 12px;
    width: 504px;
    background-color: #61dafb;

}

.wd-grey-icon{

    padding: 12px;
    color: rgb(110, 118, 125);

    background-color: cornsilk;





}


.wd-red-icon{

    padding: 12px;
    color: red;

    background-color: cornsilk;




}

.wd-grid-col-grey {
    width: 25%;
    float: left;
    background-color: black;
}

.wd-grid-col-red {
    width: 25%;
    float: left;
    background-color: black;
}