.wd-title{

    padding-left: 16px;
    padding-top: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.wd-border{

    height: 1px;
    background-color: rgb(110, 118, 125);

}

.wd-avatar-image{



    padding-left: 16px;
    padding-top: 12px;
    border-radius: 50%;
    overflow: hidden;
    width: 48px;

}

.wd-avatar-name{

    color: white;
    font-size: 15px;
    padding-left: 12px;
    padding-top: 12px;


}

.wd-post-content{

    color: white;
    font-size: 15px;
    width: 506px;
    padding-right: 16px;
    padding-bottom: 12px;


}

.wd-content-image{


    width: 504px;
    height: 264px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding-right: 12px;

}