.wd-body{

    padding-top: 8px;



}

.wd-posts-info{
    color: rgb(110, 118, 125);
    size: 13px;
    padding-left: 16px;
    padding-bottom: 12px;


}

.wd-home-nav{
color: dodgerblue;

}

.wd-icon-row{

    float: left;
}

