.wd-body{
    font-family: "Arial";
    background-color: black;
    color: white;

}

.wd-posts-info{
    color: rgb(110, 118, 125);
    size: 13px;
    padding-left: 16px;
    padding-bottom: 12px;


}